*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

 h4{
     background-color: rgb(27, 204, 121);
     padding: 15px;
 }

.wrapper{ 
    margin:100px 40%;
    border: 2px solid gray;
    color: gray;
    width: 300px;
} 

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(200, 200, 200 );
} 
 

.changer{
    padding: 15px;
    
    
} 
select{
    padding:5px 10px;
}
 

.changer h5 , form , .buttons{
    margin-bottom: 15px;
} 
 

.buttons{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: 30px;
    
}  

.buttons button:nth-child(1){
    background-color: red;
    margin-right: 5px;
    padding: 5px 15px; 
    color: white;
}
 

.buttons button:nth-child(2){
    background-color: rgba(220, 220, 220 );
    padding: 5px 15px; 
}

button , input{
    padding: 5px;
    background-color: rgba(240, 240, 240 );
    border: 0.5px solid gray;
    color: gray;
   
}
